.glare:after
  content: ''
  width: 20%
  height: 100%
  position: absolute
  top: 0
  left: 0
  opacity: 0.5
  filter: blur(5px)
  background: linear-gradient(to left, transparent 0%, #fff 40%, #fff 60%, transparent 100%)
  animation: flash 1s

@keyframes flash
  0%
    transform: translate(0, 0) rotate(35deg)
    width: 0

  100%
    transform: translate(400%, 0) rotate(35deg)
    width: 15%

.custom-btn:before,
.custom-btn:after
  position: absolute
  content: ""
  right: 0
  bottom: 0
  background: black
  transition: all 0.3s ease

.custom-btn:before
  height: 0
  width: 2px

.custom-btn:after
  width: 0
  height: 2px

.custom-btn:hover
  background: transparent

.custom-btn:hover:before
  height: 100%

.custom-btn:hover:after
  width: 100%

.custom-btn span:before,
.custom-btn span:after
  position: absolute
  content: ""
  left: 0
  top: 0
  background: black
  transition: all 0.3s ease

.custom-btn span:before
  width: 2px
  height: 0

.custom-btn span:after
  height: 2px
  width: 0

.custom-btn span:hover:before
  height: 100%

.custom-btn span:hover:after
  width: 100%
