$main-color: #d7d7d7
$cross-color: darkcyan
$zero-color: #c41e3a
body
  width: 100%

.h-100vh
  height: 100vh

.child-center
  display: flex
  justify-content: space-evenly
  align-items: center
  flex-direction: column


.tic-table
  min-width: 60%
  min-height: 60%
  max-width: 100%
  max-height: 100%
  background: $main-color
  padding: 10px
  border-radius: 10px

.b-2-s
  border: 2px solid grey

.cross:before, .cross:after
  content: ""
  position: absolute
  margin-left: -5%
  width: 10%
  height: 4px
  background: $cross-color

.cross:before
  transform: rotate(45deg)

.cross:after
  transform: rotate(-45deg)

.zero:before, .zero:after
  content: ""
  position: absolute
  border-radius: 50%

.zero:before
  margin-left: -4%
  margin-top: -4%
  background-color: $zero-color
  width: 8%
  height: 8vw

.zero:after
  width: 7%
  height: 7vw
  margin-left: -3.5%
  margin-top: -3.5%
  background-color: $main-color
  box-shadow: -2px -1px 10px 1.2px #f34723
  -moz-box-shadow: -2px -1px 10px 1.2px #f34723

#score
  font-size: 18px
  font-family: "Helvetica", sans-serif