$main-color: #0B0C10
$cross-color: darkcyan
$zero-color: #c41e3a
body
  width: 100%

.h-100vh
  height: 100vh
.row
  min-width: 50%
  min-height: 50%
.child-center
  display: flex
  justify-content: center
  align-items: center

.cross:before, .cross:after
  content: ""
  position: absolute
  margin-left: -5%
  width: 10%
  height: 4px
  background: $cross-color

.cross:before
  transform: rotate(45deg)
.cross:after
  transform: rotate(-45deg)


.zero:before, .zero:after
  content: ""
  position: absolute
  border-radius: 50%

.zero:before
  margin-left: -5%
  margin-top: -5%
  background-color: $zero-color
  width: 10%
  height: 10vw

.zero:after
  width: 8%
  height: 8vw
  margin-left: -4%
  margin-top: -4%
  background-color: white
  box-shadow: -2px -1px 10px 1.2px #f34723
  -moz-box-shadow: -2px -1px 10px 1.2px #f34723

  .suck
    background: #d63384